h2   {color: white;}
p    {color: white;}

body, html {
    height: 100%;
    background: #2a1a5e;
    background-image: url(../img/logotipo-violeta.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 50%;
}

.login-wrapper {
    backdrop-filter: blur(10px);
    background: rgba(94, 53, 177, 0.3);
    padding: 40px;
    border-radius: 10px;
}

.card-container.card {
    width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    backdrop-filter: blur(20px);
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 160px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/*
 * Form styles
 */
 .profile-name-card {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.reauth-email {
    font-size: 16px;
    color: #d1c4e9;
    line-height: 2.2;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input {
    border: 2px solid rgba(126,87,194,0.6);
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    background: rgba(255,255,255,0.12);
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin-bottom: 18px; /* Más espacio entre ellos */
}
.form-signin input:focus {
    border-color: #4a148c;
    box-shadow: 0px 4px 12px rgba(126, 87, 194, 0.6);
}

.btn.btn-signin {
    background: linear-gradient(to right, #5e35b1, #7e57c2);
    font-size: 17px;
    height: 46px;
    border-radius: 10px;
    margin-top: 25px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.btn.btn-signin:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 14px rgba(94, 53, 177, 0.5);
}

.forgot-password {
    color: #7e57c2;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: #4a148c;
}