h2   {color: white;}
p    {color: white;}

body, html {
    height: 100%;
    background: linear-gradient(135deg, rgba(94,53,177,0.8) 0%, rgba(126,87,194,0.7) 47%, rgba(142,107,204,0.6) 92%, rgba(156,123,214,0.6) 100%), 
                url(../img/logotipo-violeta.png) no-repeat center center fixed;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.login-wrapper {
    backdrop-filter: blur(10px);
    background: rgba(94, 53, 177, 0.3);
    padding: 40px;
    border-radius: 10px;
}

.card-container.card {
    width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 380px;
    margin: auto;
    margin-top: 50px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/*
 * Form styles
 */
 .profile-name-card {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.reauth-email {
    font-size: 16px;
    color: #d1c4e9;
    line-height: 2.2;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input {
    border: 2px solid rgba(126,87,194,0.6);
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    background: rgba(255,255,255,0.12);
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}
.form-signin input:focus {
    border-color: #4a148c;
    box-shadow: 0px 4px 10px rgba(126, 87, 194, 0.6);
}


.btn.btn-signin {
    background: linear-gradient(to right, #5e35b1, #7e57c2);
    font-size: 16px;
    height: 44px;
    border-radius: 8px;
    margin-top: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.btn.btn-signin:hover {
    transform: scale(1.08);
    box-shadow: 0px 6px 12px rgba(94, 53, 177, 0.5);
}

.forgot-password {
    color: #7e57c2;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: #4a148c;
}